<div class="jumbotron penguin clearfix">

  <div class="container">
    <figure class="hardware-5s landscape">
      <img src="/assets/img/screen568x320.jpg" class="hardware-inside" alt="">
      <figcaption class="caption">
        <a class="pull-right app-store-badge" href="https://itunes.apple.com/gb/app/spectra/id563776938?mt=8&amp;uo=4" target="itunes_store"></a>
        <h1>SPECTRA</h1>
        <p>Challenging, intense, retro style, arcade space shooter. Battle your way through the asteroid fields in a bid to survive just a little longer.</p>
        {% if page.url != '/games/spectra/index.html' %}
          <a class="btn btn-default" href="/games/spectra/">GAME DETAILS</a>
        {% endif %}
        <a class="btn btn-default" href="/games/spectra/version-history/">VERSION HISTORY</a>
        <a class="btn btn-default" href="/games/spectra/faq/">FAQ</a>
      </figcaption>
    </figure>
  </div>

</div>

