---
title: "Spectra &middot; Livid Penguin"
---

<div class="container content-spaced">
  <a name="spectra-details"></a>
  <p class="lead" style="margin-top: 20px;">
    <h3 style="text-align: center;">
      <b>FREE</b> on the Apple App Store until 18th August 2014. <a href="https://itunes.apple.com/us/app/spectra/id563776938?ls=1&amp;mt=8">Download it now!</a>
    </h3>
  </p>
</div> <!-- /container -->

<div class="jumbotron penguin clearfix">

  <div class="container">
    <figure class="hardware-5s landscape">
      <img src="/img/screen568x320.jpg" class="hardware-inside" alt="">
      <figcaption class="caption">
        <a class="pull-right app-store-badge" href="https://itunes.apple.com/gb/app/spectra/id563776938?mt=8&amp;uo=4" target="itunes_store"></a>
        <h1>SPECTRA</h1>
        <p>Challenging, intense, retro style, arcade space shooter. Battle your way through the asteroid fields in a bid to survive just a little longer.</p>
<!--
        <a class="btn btn-default" href="#spectra-details">GAME DETAILS</a>
-->
        <a class="btn btn-default" href="#spectra-changelog">VERSION HISTORY</a>
        <a class="btn btn-default" href="#spectra-faq">FAQ</a>
      </figcaption>
    </figure>
  </div>

</div>

<div class="container content-spaced">
  <a name="spectra-details"></a>
  <p class="lead" style="margin-top: 20px;">
    Featuring responsive control system, retro sound effects and game center integration to challenge your friends in the race to number one.
  </p>
</div> <!-- /container -->

<div class="hline-yellow"></div>

<div class="container content-spaced version-history">

  <div class="page-header">
    <a name="spectra-changelog"></a>
    <h1>Spectra - Version History</h1>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h1 class="panel-title">Spectra v1.0.x</h1>
      <span class="label label-danger">DEVELOPMENT VERSION</span>
    </div>
    <div class="panel-body">
      <ul>
        <li>
          <span class="label label-new">New</span>
          <p>Display help screen by default unless "Display help on new game" is disabled within settings screen.</p>
        </li>
      </ul>
    </div>

  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h1 class="panel-title">Spectra v1.0.3</h1>
      <span class="label label-info">PENDING REVIEW  <small>(11th October, 2013)</small></span>
    </div>
    <div class="panel-body">
      <ul>
        <li>
          <span class="label label-fixed">Fixed</span>
          <p>Ensure status bar is hidden in iOS7.</p>
        </li>
        <li>
          <span class="label label-fixed">Fixed</span>
          <p>Correct premature end of init code in "Round Clear".</p>
        </li>
        <li>
          <span class="label label-improved">Improved</span>
          <p>OpenGL performance.</p>
        </li>
      </ul>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h1 class="panel-title">Spectra v1.0.0</h1>
      <span class="label label-primary">3rd October, 2013</span>
    </div>
    <div class="panel-body">
      <p class="lead">
        Initial release to the Apple App Store.
      </p>
    </div>
  </div>

</div>

<div class="hline-yellow"></div>

<div class="container content-spaced faqs">
  <div class="page-header">
    <a name="spectra-faq"></a>
    <h1>Spectra - FAQs</h1>
  </div>

  <h2 class="question">How do I report a problem or request a change?</h2>
  <p class="answer">
    Please please ping an email to <a href="mailto:spectra@lividpenguin.com">spectra@lividpenguin.com</a>
  </p>

  <h2 class="question">How do I pause or access the menu?</h2>
  <p class="answer">
    Tap the screen with <strong>three fingers</strong> to pause the game and display the menu interface.
  </p>

</div>
